signature-pad{
    background-color: white;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.btns button{
    background-color: white;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 110px;
    margin: 0 2px;
}